<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<title> Grocery &mdash; IM </title> 
    <link rel="stylesheet" href="../style.css">
</head> 
<body>
<img src="images/logo.png" alt="Our logo" style="float:left;width:21%;height:20%;"> 
<table id="c" style="float: right; text-decoration: none;">
    <tr>
        <td><img src="images/clock.png" style="float: right; font-weight: 4%;height: 8%"></td>
        <td style="text-align: center; font-family: serif; font-size: 20px; color: #070b4a"> Time schedule: </td>
        <td><img src="images/phone.png" style="font-weight: 25px; height: 25px; float: right"></td>
        <td style="font-family: serif; color: #070b4a"> <span style="font-size: 90%;">8 (707) 123-77-83 </span></td>
    </tr>
    
    <tr>
        <td></td>
        <td style="font-family:serif;font-size: 14px; color: #070b4a"> <span style="font-size: 90%;">Weekdays:    08:00 - 00:00 </span></td>
        <td></td>
        <td style="font-family: serif; color: #070b4a"> <span style="font-size: 90%;">8 (707) 123-77-04</span> </td>
    </tr>
    
    <tr>
        <td></td>
        <td style="font-family:serif;font-size: 14px; color: #070b4a"> <span style="font-size: 90%;">Weekends:      10:00 - 22:00</span> </td>
        <td></td>
        <td style="font-family: serif; color: #070b4a"> <span style="font-size: 90%;">8 (708) 293-48-07 </span></td>
    </tr> 
        
        
</table>
<br><br><br><br><br><br><br><br>
        <header style="background-color: #0e5ad3">
 <nav> 
    <ul class="menu"> 
<li> <a href="../main.html" tabindex="1" title="Main" target="_self"> Main </a> </li> 
<div class="dropdown"> 
<li><a class="dropbtn" tabindex="2" title="Grocery">Grocery</a> </li>
<div class="dropdown-content"> 

<a href="bakery.html" target="_self">Bakery</a> 
<a href="cereal.html" target="_self">Cereal</a> 
<a href="diary.html" target="_self" class="active">Diary</a> 
<a href="drinks.html" target="_self">Drinks</a> 
<a href="frozen.html" target="_self">Frozen</a> 
<a href="meat.html" target="_self">Meat</a> 
<a href="snack.html" target="_self">Snack</a> 
<a href="vegan.html" target="_self">Vegan</a>
</div> 
    </div> 

  


<li> <a href="../stores.html" tabinex="3" title="Stores" target="_self"> Stores </a> </li> 
<li> <a href="../about.html" tabindex="4" title="About" target="_self" style="border: 0px;"> About us </a> </li> 

</ul>
</nav>
<br><br>
</header>
<main>  
</main> 
<footer> 
    <hr>
    
    
    
    
<p>All rights not reserved =)</p> 
</footer> 
</body> 
</html>