{% load static %}
<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<title> About &mdash; IM </title> 
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> 
<body>
<img src="images/logo.png" alt="Our logo" style="float:left;width:21%;height:20%;"> 
<table id="c" style="float: right; text-decoration: none;">
    <tr>
        <td><img src="images/clock.png" style="float: right; font-weight: 4%;height: 8%"></td>
        <td style="text-align: center; font-family: serif; font-size: 20px; color: #070b4a"> Time schedule: </td>
        <td><img src="images/phone.png" style="font-weight: 25px; height: 25px; float: right"></td>
        <td style="font-family: serif; color: #070b4a"> <span style="font-size: 90%;">8 (707) 123-77-83 </span></td>
    </tr>
    
    <tr>
        <td></td>
        <td style="font-family:serif;font-size: 14px; color: #070b4a"> <span style="font-size: 90%;">Weekdays:    08:00 - 00:00 </span></td>
        <td></td>
        <td style="font-family: serif; color: #070b4a"> <span style="font-size: 90%;">8 (707) 123-77-04</span> </td>
    </tr>
    
    <tr>
        <td></td>
        <td style="font-family:serif;font-size: 14px; color: #070b4a"> <span style="font-size: 90%;">Weekends:      10:00 - 22:00</span> </td>
        <td></td>
        <td style="font-family: serif; color: #070b4a"> <span style="font-size: 90%;">8 (708) 293-48-07 </span></td>
    </tr> 
        
        
</table>
<br><br><br><br><br><br><br><br>
        <header style="background-color: #0e5ad3">
 <nav> 
    <ul class="menu"> 
<li> <a href="main.html" tabindex="1" title="Main" target="_self"> Main </a> </li> 
<div class="dropdown"> 
<li><a class="dropbtn" tabindex="2" title="Grocery">Grocery</a> </li>
<div class="dropdown-content"> 

<a href="grocery/bakery.html" target="_self">Bakery</a> 
<a href="grocery/cereal.html" target="_self">Cereal</a> 
<a href="grocery/diary.html" target="_self">Diary</a> 
<a href="grocery/drinks.html" target="_self">Drinks</a> 
<a href="grocery/frozen.html" target="_self">Frozen</a> 
<a href="grocery/meat.html" target="_self">Meat</a> 
<a href="grocery/snack.html" target="_self">Snack</a> 
<a href="grocery/vegan.html" target="_self">Vegan</a>
</div> 
    </div> 

  


<li> <a href="stores.html" tabinex="3" title="Stores" target="_self"> Stores </a> </li> 
<li> <a href="about.html" tabindex="4" title="About" target="_self" class="active" style="border: 0px;"> About us </a> </li> 

</ul>
</nav>
<br><br>
</header>
<main> 
    
    <h1 style="color: #070b4a">"Indigo market" Since 2017 <br><br></h1>
     <h2 style="color: #070b4a">Our first store was located in Russia and looked like this:</h2> <br>
<img src="images/im.jpg" alt="Our logo" style="float:none;width:100%;height:100%;"> 
    <br><br><br>
    <h2 style="color: #070b4a">But now we are the 1st supermarket in Kazakhstan,</h2>
    <p style="color: #070b4a">
 which gives you possibility of setting a price. We give you high quality products for low cost. <br>

You can register on this site to follow sales, new products or make online-shopping and then we will deliver all of these products at your home!<br>

You can use VISA, MasterCard, PayPal, ApplePay, SamsungPay in our supermarkets and to make online shopping.<br>
<br>
Our address:<br>
Dostyk, 170<br>
Tole-Bi, 75<br>
Saina, 32<br>
<br>
Our schedule:<br>
Weekdays: 08:00 - 00:00<br>
Weekends: 10:00 - 22:00<br>
<br>
Contact us: <br>
8 (707) 123-77-83<br>
8 (707) 123-77-04<br>
8 (708) 293-48-07<br>
indigomarket@gmail.com<br>
<br>
Follow us:
    </p>
    <table id="d" style="float: left; text-decoration: none; ">
    <tr>
        <td><a href="https://www.vk.com/indigodness"><img src="images/vk.png" style="font-weight: 25px; height: 25px"></a></td>
        <td><a href="https://www.facebook.com/indigodness"><img src="images/fcb.png" style="font-weight: 25px; height: 25px"></a></td>
        <td><a href="https://www.twitter.com/indigodness"><img src="images/twit.png" style="font-weight: 25px; height: 25px"></a></td>
        <td><a href="https://www.instagram.com/indigodness"><img src="images/inst.png" style="font-weight: 25px; height: 25px"></a></td>
    </tr>
    
</table>

    <form>
<input type="text" placeholder="Искать здесь...">
<input type="hidden" name="as_sitesearch" value="indigodness.pythonanywhere.com"> 
<button type="submit"></button>
</form>
 
<form>
<p>
<label for="text_field">First Name:</label>
<br>
<input type="text" name="first_name">
<br>
<label for="text_field">Last Name:</label>
<br>
<input type="text" name="last_name">
</p>
<hr>
<p>
<label for="checkbox">Select rate:</label>
<br>
<input form="auth" id="rate1" type="checkbox" name="checkboxes" value="1">1 – very bad, not usable, incomprehensible
<br>
<input form="auth" id="rate2" type="checkbox" name="checkboxes" value="2">2 – bad, there are big flaws, gaps, unstable site operation, did not meet expectations
<br>
<input form="auth" id="rate3" type="checkbox" name="checkboxes" value="3">3 – medium, in general, you can use it, but would prefer another resource
<br>
<input form="auth" id="rate4" type="checkbox" name="checkboxes" value="4">4 – well-made, convenient, understandable, would sometimes prefer to use
<br>
<input form="auth" id="rate5" type="checkbox" name="checkboxes" value="5">5 – excellent, the clear leader among my preferences, exceeded exceptions
</p>
<hr>
<p>
<label for="text_area">Additional Comments:</label>
<br>
<textarea name="text_area"></textarea>
</p>
<p>
<input class="button" type="reset" value="Clear">
<input class="button" type="submit" value="Submit">
</p>
</form>
    
    
    <br><br><br><br><br><br><br><br><br><br><br>
</main> 
<footer> 
    <hr>
    
    
    
    
<p>All rights not reserved =)</p> 
</footer> 
</body> 
</html>