<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="">Product: {{ post.name }}</a></h2>
                <p>Photo: <img src="{{ post.photo }}" > </p>
                <p>{{ post.description|linebreaksbr }}</p>
                <p>Department:{{ post.dept }}</p>
                <hr><hr><hr><hr><hr>
            </div>
        {% endfor %}
    </body>
</html>