{% load static %}
<html>
    <head>
        <title>Indigo Mart</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to the Market</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="">Product: {{ post.name }}</a></h2>
                <p>Photo: <img src="{{ post.photo }}" > </p>
                <p>{{ post.description|linebreaksbr }}</p>
                <p>Department: {{ post.dept }}</p>
                <hr><hr><hr><hr><hr>
            </div>
        {% endfor %}
    </body>
</html>